/* regole generali */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(img-war/background.jpg);
}

/* barra navigazione */
#intestazione {
  background-color: black;
  padding: 15px 5px;
  line-height: 50px;
}

nav ul li {
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}


/* prima riga immagini */
.immagini img {
  height: 250px;
  width: 100%;
}
